option_settings:
  "aws:elasticbeanstalk:container:python":
    WSGIPath: app:app  
  "aws:elasticbeanstalk:environment:proxy":
    ProxyServer: nginx  # Use Nginx as a proxy server
  "aws:elasticbeanstalk:application:environment":
    STREAMLIT_SERVER_PORT: 8501  # Customize the port if needed
    STREAMLIT_SCRIPT_PATH: app.py  # Replace with the actual path to your Streamlit script
    OTHER_ENV_VARIABLE: value  # Add any other environment variables you need
